<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple</title>
  <style>body{background: skyblue;}</style>
</head>
<body>
  <h1>Welcome to the most awesome site in the web, <%= person%></h1>
</body>
</html>
